---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Yin Shen - Full Stack Developer">
  <main>
    <div class="text-center">
      <h1>Yin Shen</h1>
    </div>
    <div>
      <div class="mt-4">
        I am a Full Stack Web Developer with over 15 years of professional
        experience. I have worked on projects for some of the largest companies
        on the ASX. I am based in Melbourne, Australia.
      </div>
      <div class="mt-4">Relevant experience:</div>
      <ul class="mt-4">
        <li><p>Frontend: React, React-Native, Astro, AngularJS</p></li>
        <li>
          <p>Backend: Django, NextJS, Postgres, MySQL, SQL Server, MongoDB</p>
        </li>
        <li><p>DevOps: CI/CD pipelines (AWS, Bitbucket and Codeship)</p></li>
        <li><p>Infrastructure: AWS, CDK & CloudFormation</p></li>
      </ul>
      <div class="my-4 text-center">
        <button
          id="press-any-key"
          hx-trigger="click consume from:body"
          hx-get="/contact"
          hx-swap="afterend"
          hx-target="main"
        >
          Click anywhere to continue <span class="blink">_</span>
        </button>
      </div>
    </div>
  </main>
  <slot />
</Layout>
