---
const { title, disableClose } = Astro.props;
---

<div
  class="fixed top-0 left-0 w-full h-full flex justify-center items-start popup"
  data-script={disableClose ? "" : "on click halt the event remove me"}
  hx-trigger="click consume from:html"
>
  <div
    class="mt-[15%] px-1 py-2 bg-[#ECECEC] modal-shadow min-w-[200px]"
    data-script="on click halt the event's bubbling"
  >
    <div class="border-2 text-primary border-primary">
      <div class="text-center border-b-2 border-primary mb-4">{title}</div>
      <div>
        <slot />
      </div>
    </div>
  </div>
</div>
