---
const { title } = Astro.props;
---
<div class="px-1 py-2 bg-[#ECECEC] absolute top-[15%] mx-auto modal-shadow min-w-[200px] popup">
    <div class="border-2 text-primary border-primary">
        <div class="text-center border-b-2 border-primary mb-4">{title}</div>
        <div>
            <slot />
        </div>
    </div>
</div>
